<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="ru.biosoft.access.transformer"> 
      <transformer name="WDL script" inputClass="ru.biosoft.access.FileDataElement"
        outputClass="biouml.plugins.wdl.WDLScript" transformerClass="biouml.plugins.wdl.WDLScriptTransformer"/> 
      <transformer name="WDL diagram" inputClass="ru.biosoft.access.FileDataElement"
        outputClass="biouml.model.Diagram" transformerClass="biouml.plugins.wdl.diagram.WDLDiagramTransformer"/> 
  </extension>

  <extension point="ru.biosoft.access.scriptType">
  	<scriptType type="WDL" title="WDL script" product="WDL" class="biouml.plugins.wdl.WDLScript" lexer="com.Ostermiller.Syntax.Lexer.JavaScriptLexer" />
  </extension>

  <extension point="ru.biosoft.access.elementAction"> 
     <action name="New WDL script" class="biouml.plugins.wdl.NewWDLScriptAction" priority="10">
        <property name="Name" value="New WDL script"/>
        <property name="ShortDescription" value="Create a new WDL script document"/>
        <property name="LongDescription" value="Create a new WDL script document"/>
        <property name="SmallIcon" value="wdl-script.gif"/>
        <property name="ActionCommandKey" value="cmd-new-wdlscript"/>
     </action>
  </extension>

  <extension id="RunWDL" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.wdl.RunWDLAnalysis" group="Unclassified" name="Run WDL"
         shortDescription="Run WDL script" description="Run WDL script" /> 
  </extension>

  <extension point="ru.biosoft.server.servlets.webProvider">
    <provider prefix="wdl" class="biouml.plugins.wdl.WDLWebProvider"/>
  </extension>

   <extension id="WDLImporter" point="ru.biosoft.access.import">
		<import 
			format="WDL (*.wdl)" 
			importer="biouml.plugins.wdl.diagram.WDLImporter" 
			description="WDL Importer"
			 />
	</extension>
  
</plugin>

