#Tue Nov 05 20:16:52 NOVT 2002
transformer=ru.biosoft.bsa.transformer.GenbankTransformer
querySystem=ru.biosoft.bsa.transformer.SequenceQuerySystem
name=genbank
childrenNodeImage=sequence.gif
node-image=sequenceSet.gif
class=ru.biosoft.access.TransformedDataCollection
nextConfig=genbank.format.config
