<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension id="helpGen" point="org.eclipse.core.runtime.applications">
        <application>
            <run class="biouml.plugins.helpgenerator.HelpGenerator">
            </run>
        </application>
    </extension>
</plugin>
