#######################################################################################
#####################################CONSTANTS#########################################
#######################################################################################
#set ($BR = "
")
#set ($INDENT = "  ")
#set ($QUOTE = '"')
#######################################################################################
#####################################MACROS############################################
######################f#################################################################
#macro(comma $list)
#if($velocityCount < $list.size()),#end
#end
#######################################################################################
#macro(conditional $conditional)
${BR}if ( $helper.findCondition($conditional) ) {
#foreach( $n in $helper.orderCalls($conditional) )
#if ( $helper.isCycle($n) )#scatterNF($n)
#elseif ( $helper.isCall($n) )#callNF($n)
#elseif ( $helper.isExpression($n) )#expressionNF($n)
#elseif ( $helper.isConditional($n) )#conditional($n)
#end 
#end
}
#end
#######################################################################################
#macro(callNF $call)
#set ($inputs = $helper.getOrderedInputs($call))
  $helper.getResultName($call) = $helper.getCallName($call)( #foreach($input in $inputs)$helper.getCallInputName($input)#comma($inputs) #end)$BR
#end
#######################################################################################
#macro(scatterNF $scatter)
$helper.describeCycle($scatter)
##foreach( $n in $helper.orderCalls($scatter))
##if ($helper.isCycle($n))#scatterNF($n)
##elseif ($helper.isCall($n))#callNF($n)
##elseif ( $helper.isExpression($n) )#expressionNF($n)
##elseif ( $helper.isConditional($n) )#conditional($n)
##end 
##end
#end
#######################################################################################
#macro(expressionNF $expression)
  $helper.getName($expression) = $helper.getCallEmit($expression)$BR
#end 
#######################################################################################
#######################################START###########################################
#######################################################################################
nextflow.enable.dsl=2
#######################################################################################
#set($functions = $helper.getFunctions())
#if (!$functions.isEmpty())
include { $functions } from './biouml_function.nf'
#end
#######################################################################################
#foreach ($c in $helper.getImportedCalls())include { $helper.getTaskRef($c) as $helper.getImportedAlias($c) } from './$helper.getImportedDiagram($c)'$BR#end
#######################################################################################
#if ($helper.isEntryScript())
#set ($externalParameters = $helper.getExternalParameters())
#if ($externalParameters.size() > 0)
#foreach( $externalParameter in $externalParameters )
$helper.getExternalInput($externalParameter)
#end
#end
#if($externalParameters.size() > 0)$BR#end
#end
#######################################################################################
#######################################TASKS###########################################
#######################################################################################
#foreach( $task in $helper.getTasks())
process $task.getName() {
$BR  fair true
#set ($inputs = $helper.getOrderedInputs($task))
#if ($inputs.size() > 0)
$BR  input:
#foreach( $input in $inputs )  $helper.getShortDeclaration($input)$BR#end
$BR#end
#set ($container = $helper.getContainer($task))#if($container)  container '$container'$BR#end
#set ($cpus = $helper.getCPUs($task))#if($cpus)  cpus $cpus$BR#end
#set ($memory = $helper.getMemory($task))#if($memory)  memory $memory$BR#end
#set ($maxRetries = $helper.getMaxRetries($task))#if($maxRetries)  maxRetries $maxRetries$BR#end
$BR  publishDir "$task.getName()", mode: 'copy'
$BR  script:
#foreach($declaration in $helper.getPrivateDeclarations($task))
  $helper.writePrivateDeclaration($declaration)
#end
  """
  $helper.getCommand($task).trim()
  """
#set ($outputs = $helper.getOutputs($task))
#if ($outputs.size() > 0)
$BR  output:
#foreach( $output in $outputs )
  $helper.getType($output) $helper.getExpression($output), emit: $helper.getName($output) 
#end
#end
}$BR
#end
#######################################################################################
###################################WORKFLOW############################################
#######################################################################################
workflow $helper.getMainWorkflowName() {
#set ($externalParameters = $helper.getExternalParameters())
#if ($externalParameters.size() > 0)
  take:
#foreach( $externalParameter in $externalParameters )
  $helper.getName($externalParameter)
#end
#end$BR
#set ($calls = $helper.orderCalls($diagram))
#if (!$calls.isEmpty())
$BR  main:
#foreach( $n in $calls)
#if ($helper.isCycle($n))#scatterNF($n)
#elseif ($helper.isCall($n))#callNF($n)
#elseif ($helper.isExpression($n))#expressionNF($n)
#elseif ( $helper.isConditional($n) )#conditional($n)
#end
#end 
#end
#set ($externalOutputs = $helper.getExternalOutputs())
#if ($externalOutputs.size() > 0)
  emit: 
#foreach( $externalOutput in $externalOutputs )
  $helper.getName($externalOutput) = $helper.getOutputExpression($externalOutput)
#end
#end
}$BR
################################ENTRY WORKFLOW#########################################
#if ($helper.isEntryScript())
workflow {
$helper.getMainWorkflowName()( #foreach($ep in $externalParameters)$helper.getExternalParamaterName($ep)#comma($externalParameters) #end )
}
#end