#####################################################################################
#####################################CONSTANTS########################################
#######################################################################################
#set ($BR = "
")
#set ($INDENT = "  ")
#set ($QUOTE = '"')
#######################################################################################
#####################################MACROS############################################
#######################################################################################
#macro(comma $list)
#if($velocityCount < $list.size()),#end
#end
#set ($externalParameters = $helper.getExternalParameters())
#if ($externalParameters.size() > 0)
#foreach( $externalParameter in $externalParameters )
$helper.getExternalInput($externalParameter)
#end
#end
#if($externalParameters.size() > 0)$BR#end
#######################################################################################
#######################################TASKS###########################################
#######################################################################################
#foreach( $task in $helper.getTasks())
process $task.getName() {
#set ($inputs = $helper.getInputs($task))
#if ($inputs.size() > 0)
$BR  input :
#foreach( $input in $inputs )
  $helper.getDeclaration($input)
#end
#end
$BR  publishDir "/data", mode: 'copy'
$BR  script:
  """
  $helper.getCommand($task).trim()
  """
#set ($outputs = $helper.getOutputs($task))
#if ($outputs.size() > 0)
$BR  output:
#foreach( $output in $outputs )
  $helper.getType($output) "$helper.getExpression($output)"
#end
#end
}$BR
#end
#######################################################################################
###################################WORKFLOW############################################
#######################################################################################
workflow {
  main:
#foreach( $call in $helper.getCalls())
#set ($inputs = $helper.getInputs($call))
#if ($inputs.size()> 0)
  result_$velocityCount = $helper.getTaskRef($call)(#foreach($input in $inputs)params.$helper.getName($input)#comma($inputs)#end)
#else
  result_$velocityCount = $helper.getTaskRef($call)()
#end
#end
}