database=ChEBI

class=biouml.plugins.server.SqlModule
module-type=biouml.plugins.chebi.ChebiModuleType

querySystem = biouml.plugins.lucene.LuceneQuerySystemImpl
data-collection-listener=biouml.plugins.lucene.LuceneInitListener
lucene-directory=luceneIndex
plugins=biouml.plugins.chebi;biouml.plugins.lucene

bioHub.matching=biouml.plugins.chebi.ChebiMatchingHub
