#macro( strField $name $label )
	#if($name && !$name.toString().equals(""))
		<b>$label</b>: $utils.formatHtml( $name ) <br>
	#end
#end

#macro( deRef $path $label )
  #if ( $path && !$path.toString().isEmpty() )
    #set( $name = $path.toString().replaceAll(".*/", "") )
    <b>$label</b>: <a href="de:$path">$name</a><br>
  #end
#end

<b>ChIP-exo peak</b><br>


#strField($de.getStableId(), "Stable ID")
#strField("$de.getChr():$de.getFrom()-$de.getTo()", "Location")

#strField("$de.getExp().getTfTitle()", "Transcription factor")
#strField("$de.getExp().getTfUniprotId()", "Uniprot ID")
#strField("$de.getExp().getCell().getTitle()", "Cell")
#strField($de.getExp().getTreatment(), "Treatment")
#deRef("databases/GTRD/Data/ChIP-exo experiments/$de.getExp().getName()", "Experiment")

#strField("$de.getPeakCaller()", "Peak caller")

#strField("$de.control", "Control")
#strField("$de.expected", "Expected")
#strField("$de.fold", "Fold")
#strField("$de.ip", "IP")
#strField("$de.ipVsEmp", "IP vs EMP")
#strField("$de.noise", "noise")
#strField("$de.pMLog10", "-log10(p-value)")
#strField("$de.pPoiss", "P(poiss)")
#strField("$de.qMLog10", "-log10(q-value)")