<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension-point name="keyNodesDecorator"  id="keyNodesDecorator"/>
  
  <extension point="biouml.plugins.keynodes.keyNodesDecorator">
    <decorator name="None" class="biouml.plugins.keynodes.graph.StubDecorator"/>
    <decorator name="Apply Context" class="biouml.plugins.keynodes.graph.ApplyContextDecorator"/>
    <decorator name="Add interactions" class="biouml.plugins.keynodes.graph.AddInteractionsDecorator"/>
    <decorator name="Custom domain" class="biouml.plugins.keynodes.graph.CustomDomainDecorator"/>
    <decorator name="Remove nodes" class="biouml.plugins.keynodes.graph.RemoveNodesDecorator"/>
  </extension>
  
  <extension id="VisualizeNetworkAction" point="ru.biosoft.access.dynamicAction"> 
     <dynamicAction name="Network visualizer" class="biouml.plugins.keynodes.KeyNodesResultVisualizer">
        <parameter name="numSelected" value="2"/>
        <property name="Name" value="Visualize selected rows"/>
        <property name="ShortDescription" value="Show selected rows as diagram"/>
        <property name="LongDescription" value="Show selected rows as diagram (you will be prompted on new diagram location)"/>
        <property name="SmallIcon" value="resources/visualize.gif"/>
        <property name="ActionCommandKey" value="cmd-visualize-rows"/>
     </dynamicAction>
  </extension>
  
  <extension id="JoinClustersAction" point="ru.biosoft.access.dynamicAction"> 
     <dynamicAction name="Join clusters" class="biouml.plugins.keynodes.JoinClustersAction">
        <parameter name="numSelected" value="2"/>
        <property name="Name" value="Visualize selected clusters"/>
        <property name="ShortDescription" value="Show selected clusters as diagram"/>
        <property name="LongDescription" value="Show selected clusters as diagram"/>
        <property name="SmallIcon" value="resources/visualize.gif"/>
        <property name="ActionCommandKey" value="cmd-visualize-clusters"/>
     </dynamicAction>
  </extension>
  
  <extension id="SaveNetworkHitsAction" point="ru.biosoft.access.dynamicAction"> 
     <dynamicAction name="SaveNetworkHits" class="biouml.plugins.keynodes.SaveHitsAction">
        <parameter name="numSelected" value="2"/>
        <property name="Name" value="Save selected network hits"/>
        <property name="ShortDescription" value="Save hits from selected rows"/>
        <property name="LongDescription" value="Save hits from selected rows as new table (you will be prompted on new table location)"/>
        <property name="SmallIcon" value="resources/save-hits.gif"/>
        <property name="ActionCommandKey" value="cmd-savehits-rows"/>
     </dynamicAction>
  </extension>
  
  <extension id="SaveNetworkAction" point="ru.biosoft.access.dynamicAction"> 
     <dynamicAction name="SaveKeyMolecules" class="biouml.plugins.keynodes.SaveNetworkAction">
        <parameter name="numSelected" value="2"/>
        <property name="Name" value="Save selected networks"/>
        <property name="ShortDescription" value="Save networks from selected rows"/>
        <property name="LongDescription" value="Save whole networks from selected rows as new table (you will be prompted on new table location)"/>
        <property name="SmallIcon" value="resources/save-network.gif"/>
        <property name="ActionCommandKey" value="cmd-savenetwork-rows"/>
     </dynamicAction>
  </extension>

  <!--extension id="MasterRegulatorNode analysis" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.KeyNodeAnalysis" group="Data" name="Drug Target Search"  description="Search for key molecules in signal transduction cascade"/> 
  </extension-->
  
  <extension id="MasterEffectorNode analysis" point="ru.biosoft.analysiscore.method">
      <analysisClass class="biouml.plugins.keynodes.EffectorKeyNodes" group="Molecular networks" name="Effector search"
        shortDescription="Find genes or proteins regulated by the input set of genes."
        description="biouml/plugins/keynodes/resources/RegulatorSearch.html"/> 
  </extension>
  
  <extension id="MasterRegulatorNode analysis" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.RegulatorKeyNodes" group="Molecular networks" name="Regulator search"
         shortDescription="Find genes or proteins that regulates input set of genes."
         description="biouml/plugins/keynodes/resources/RegulatorSearch.html"/> 
  </extension>
  
  <extension id="LongestChainFinder analysis" point="ru.biosoft.analysiscore.method">
      <analysisClass class="biouml.plugins.keynodes.LongestChainFinder" group="Molecular networks" name="Find longest connected chains"
        shortDescription="Find longest chains which contains as many elements from input table as possible."
        description="biouml/plugins/keynodes/resources/LongestChainsFinder.html"/> 
  </extension>
  
  <extension id="ShortestPathsBetweenSetsFinder analysis" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.ShortestPathsBetweenSetsFinder" group="Molecular networks" name="Find shortest path between two sets"
         shortDescription="Find the shortest paths from molecules of the 'Start set' to the molecules of the 'End set'."
         description="biouml/plugins/keynodes/resources/ShortestPathBetweenTwoSets.html"/> 
  </extension>

  <extension id="KeyNodeVisualization analysis" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.KeyNodeVisualization" group="Molecular networks" name="Visualize results"
         shortDescription="Display signalling networks as diagram."
        description="biouml/plugins/keynodes/resources/VisualizeNetwork.html"/> 
  </extension>
  
  <extension id="Add reactants" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.AddReactantsAnalysis" group="Molecular networks" name="Add reactants"
        shortDescription="Add missing reactants/products to existing key-node diagram."
        description="biouml/plugins/keynodes/resources/AddReactants.html"/> 
  </extension>
  
  <extension id="SaveNetwork analysis" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.SaveNetworkAnalysis" group="Molecular networks" name="Save network"
        shortDescription=""
        description="biouml/plugins/keynodes/resources/SaveNetwork.html"/> 
  </extension>
  
  <extension id="SaveHits analysis" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.SaveHitsAnalysis" group="Molecular networks" name="Save hits" 
        shortDescription=""
        description="biouml/plugins/keynodes/resources/SaveHits.html"/> 
  </extension>
  
  <extension id="ShortestPathClustering" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.ShortestPathClustering" group="Molecular networks" name="Cluster by shortest path"  description="This analysis allows you to make a cluster of genes/molecules upstream or downstream or both by taking reactions and all intermediate molecules using shortest paths from a specified search collection."/> 
  </extension>
  
  <extension id="AllPathClustering" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.AllPathClustering" group="Molecular networks" name="Cluster by path"  description="This analysis allows you to make a cluster of genes/molecules upstream or downstream or both by taking reactions and all intermediate molecules using all paths from a specified search collection."/> 
  </extension>
  
  <extension id="Enhance Score analysis" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.EnhanceScore" group="Molecular networks" name="Enhance Score"  description="Enhances scores for all selected proteins."/> 
  </extension>
  
    <extension id="NetworkInferencce" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.NetworkInference" group="Molecular networks" name="Infer network"  description=""/> 
  </extension>
  
  <extension id="DiagramToPairsConverter" point="ru.biosoft.analysiscore.method">
    <analysisClass class="biouml.plugins.keynodes.customhub.DiagramToPairsConverter" group="Molecular networks" name="Convert diagram to pairs" description="Convert diagram to list of interaction pairs to use as decorator in regulator search analysis."/>
  </extension>
  
  <extension id="JS-network" point="ru.biosoft.plugins.javascript.hostObject"> 
     <hostObject name="network" class="biouml.plugins.keynodes.JavaScriptKeyNodes" >
         <doc description="Network analysis methods">
             <function name="regulatorNodes" description="Performs drug target search analysis (without FDR)">
                 <argument name="molecules" type="ru.biosoft.table.TableDataCollection" obligatory="true" description="collection containing input molecules"/>            
                 <argument name="outputName" type="String" obligatory="true" description="name of output table with complete path"/>
                 <argument name="direction" type="String" obligatory="true" description="search direction" />
                 <argument name="maxRadius" type="int" obligatory="true" description="maximal search radius" />
                 <argument name="searchCollection" type="String" obligatory="true" description="Name of search collection" />            
             </function>
         </doc>
     </hostObject>
   </extension>

  <extension id="Diagram to user hub collection" point="ru.biosoft.analysiscore.method"> 
      <analysisClass class="biouml.plugins.keynodes.customhub.DiagramToUserHubCollection" group="Molecular networks" name="Diagram to user hub collection"  description="Creates custom hub collection from given diagram."/> 
  </extension>

  <extension id="UserCollectionHub" point="ru.biosoft.access.biohub">
     <hubItem name="Custom repository hub" class="biouml.plugins.keynodes.graph.UserCollectionBioHub">
     </hubItem>
  </extension>

  <extension id="UserCollectionConverter" point="biouml.workbench.diagramTypeConverter">
    <elementConversion
      from="biouml.plugins.sbgn.extension.SbgnExDiagramType"
      to="biouml.plugins.sbgn.extension.SbgnExDiagramType"
      converter="biouml.plugins.keynodes.graph.UserCollectionSBGNConverter"
      name="User collection converter"
    />
  </extension>
</plugin>
