testNullDiagram.xml
GeneNetTest
TranspathTest
/Antimony
/TRANSFAC(R)*
/TRANSPATH(R)*
/HMR
/Recon2
/PantherDB/Diagrams/*.xml
/ExPASy
/KEGG/diagrams/*.xml
/GTRD
/GTRD_yura
/GTRD_yura_1806
/GTRD2
/EnsemblArabidopsisThaliana91
/EnsemblFruitfly91
/EnsemblHuman85_38
/EnsemblNematoda91
/EnsemblSaccharomycesCeresiviae91
/EnsemblSchizosaccharomycesPombe91
/EnsemblZebrafish92
/EnsemblRat91
*.dat.id
*.gmt.id
*/index.dbf.0
*/index.dbf.t
*/index.dbr.0
*/index.dbr.t
*/index.idf.0
*/index.idf.t
*/index.idr.0
*/index.idr.t
*/Diagrams/icons
