<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	
	<extension point="biouml.workbench.diagramType">
		<diagramType class="biouml.plugins.sbol.SbolDiagramType" />
	</extension>

    <extension id="SbolImporter" point="ru.biosoft.access.import">
		<import 
			format="SBOL RDF graphs (*.rdf, *.ttl, *.nt, *.jsonld, *.rj)" 
			importer="biouml.plugins.sbol.SbolImporter" 
			description="SBOL Importer"
			 />
	</extension>
	
	<extension point="ru.biosoft.access.transformer">
      <transformer name="SBOL diagram" inputClass="ru.biosoft.access.FileDataElement"
        outputClass="biouml.model.Diagram" transformerClass="biouml.plugins.sbol.SbolDiagramTransformer" />
    </extension>
	
</plugin>
