<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	
	<extension point="biouml.workbench.diagramType">
		<diagramType class="biouml.plugins.physicell.PhysicellDiagramType" />
		<diagramType class="biouml.plugins.physicell.cycle.CycleDiagramType" />
	</extension>

    <extension id="PhysicellImporter" point="ru.biosoft.access.import">
		<import 
			format="Physicell Settings (*.xml)" 
			importer="biouml.plugins.physicell.PhysicellImporter" 
			description="Physicell Importer"
			 />
	</extension>
	
	 <extension id="PhysicellExporter" point="ru.biosoft.access.export">
		<export
		    diagramType="biouml.plugins.physicell.PhysicellDiagramType" 
			format="Physicell Archive (*.zip)" 
			suffix=".zip"
			exporter="biouml.plugins.physicell.PhysicellExporter" 
			description="Physicell Exporter"
			 />
	</extension>
	
	<extension id="PhysicellArchiveImporter" point="ru.biosoft.access.import">
		<import 
			format="Physicell Archive (*.pcl)" 
			importer="biouml.plugins.physicell.PhysicellArchiveImporter" 
			description="Physicell Archive Importer"
			 />
	</extension>
	
	<extension id="SolverType" point="biouml.plugins.simulation.solver">
		<solver class="biouml.plugins.physicell.PhysicellSimulator"
			displayName="Physicell default" type="MULTICELL" />
	</extension>

	<extension id="EngineType" point="biouml.plugins.simulation.engine">
		<engine class="biouml.plugins.physicell.PhysicellSimulationEngine"
			displayName="Physicell Simulation Engine"
			emodelType="Multicellular Model"
			priority="1"
		/>
	</extension>
	
	<extension id="Multicell Model tab" point="biouml.workbench.diagramViewPart">
		<diagramViewPart class="biouml.plugins.physicell.PhysicellModelViewPart"
			id="diagram.multicell.model" Name="Microenvironment"
			ShortDescription="Model" Priority="1.2" />
	</extension>
	
	<extension id="Multicell Cell Types tab" point="biouml.workbench.diagramViewPart">
		<diagramViewPart class="biouml.plugins.physicell.CellDefinitionViewPart"
			id="diagram.multicell.types" Name="Cell Types"
			ShortDescription="Model" Priority="1.1" />
	</extension>
	
	<extension point="ru.biosoft.server.servlets.webTableResolver">
    <tableResolver type="physicell" class="biouml.plugins.physicell.web.PhysicellWebTableResolver"/>
  </extension>
  
  <extension point="ru.biosoft.access.beans">
    <provider class="biouml.plugins.physicell.web.PhysicellBeanProvider" prefix="diagram/physicell"/>
    <provider class="biouml.plugins.physicell.web.PhysicellResultOptionsProvider" prefix="physicell/result"/>
  </extension>
  
  <extension point="ru.biosoft.server.servlets.webProvider">
    <provider prefix="physicell" class="biouml.plugins.physicell.web.PhysicellWebProvider"/>
  </extension>
  
  <extension id="physicellEngine" point="ru.biosoft.templates.contextItem">
    	<helper name="physicellEngine" class="biouml.plugins.physicell.SimulationEngineHelper" />
  </extension>
  
  <extension id="Diagram events list template" point="ru.biosoft.templates.template">
      <template name="Summary" file="biouml/plugins/physicell/resources/modelSummary.vm" description="Model summary." isBrief="no" order="2">
          <filter class="biouml.model.Diagram" subclasses="yes">
              <property name="role" class="biouml.plugins.physicell.MulticellEModel"/>
          </filter>
      </template>
  </extension>
  
  <extension point="ru.biosoft.access.scriptType">
  	<scriptType type="Java" title="Java code" class="biouml.plugins.physicell.javacode.JavaElement" lexer="com.Ostermiller.Syntax.Lexer.JavaLexer"/>
  </extension>
  
  <extension point="ru.biosoft.access.elementAction"> 
     <action name="New Java element" class="biouml.plugins.physicell.javacode.AddJavaElementAction" priority="10">
        <property name="Name" value="New Java code"/>
        <property name="ShortDescription" value="Create a new Java code document"/>
        <property name="LongDescription" value="Create a new Java code document"/>
        <property name="SmallIcon" value="java.png"/>
        <property name="ActionCommandKey" value="cmd-new-java-code"/>
     </action>
  </extension>

  <extension id="Java document factory" point="ru.biosoft.workbench.documentFactory"> 
      <documentFactory 
        documentClass="biouml.plugins.physicell.javacode.JavaDocument"
        key="biouml.plugins.physicell.javacode.JavaElement"
      /> 
  </extension>
  
  <extension point="ru.biosoft.access.transformer"> 
      <transformer name="Java file" inputClass="ru.biosoft.access.file.FileDataElement"
        outputClass="biouml.plugins.physicell.javacode.JavaElement" transformerClass="biouml.plugins.physicell.javacode.JavaTransformer"/> 
  </extension>
  
  <extension point="ru.biosoft.access.fileType">
    <fileType name="Java code" extensions="java" transformerClass="biouml.plugins.physicell.javacode.JavaTransformer" priority="10" description="Java code file"/>
  </extension>
  
  	  <extension id="repository actions" point="ru.biosoft.access.repositoryActionsProvider"> 
      <repositoryActionsProvider class="biouml.plugins.physicell.document.RepositoryActionsProvider"/> 
  </extension> 
  
  <extension id="simulation factory" point="ru.biosoft.workbench.documentFactory"> 
      <documentFactory 
        class="biouml.plugins.physicell.document.PhysicellResultFactory"
        key="biouml.plugins.physicell.document.PhysicellSimulationResult"
      /> 
  </extension>
	
  <extension id="Simualtion result options" point="biouml.workbench.diagramViewPart"> 
      <diagramViewPart editor="true" 
        class="biouml.plugins.physicell.document.PhysicellResultViewPart"
        id="physicell.result.options" 
        Name="Options"
        ShortDescription="Simulation result options"
        Priority = "1.4"
      /> 
      
  </extension>
</plugin>
