querySystem=biouml.plugins.lucene.LuceneQuerySystemImpl
data-collection-listener=biouml.plugins.lucene.LuceneInitListener
lucene-directory=luceneIndex
plugins=biouml.plugins.reactome

showStatistics=false
graph-search=true

database=Reactome

bioHub.functional=biouml.plugins.reactome.biohub.ReactomeFunctionalHub;name=Reactome pathways
bioHub.matching=biouml.plugins.reactome.biohub.ReactomeUniprotHub;name=ReactomeUniprotHub
bioHub.keynodes=biouml.plugins.keynodes.biohub.reactome.ReactomeSqlBioHub;name=Reactome database
