#Tue Feb 15 15:37:38 NOVT 2011
name=Diagrams
data-element-class=biouml.model.Diagram
class=ru.biosoft.access.SqlDataCollection
plugins=biouml.plugins.lucene;biouml.plugins.reactome
lucene-indexes=name;title;components;__childNames
querySystem.indexes=title
transformerClass=biouml.plugins.reactome.access.DiagramSqlTransformer
querySystem=ru.biosoft.access.DefaultQuerySystem
index.title=biouml.plugins.reactome.access.ReactomePathwayTitleIndex
lucene-helper=biouml.plugins.lucene.DiagramLuceneHelper
