<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension-point name="dataType" id="dataType"/>

  <extension point="ru.biosoft.access.transformer"> 
      <transformer name="Table" inputClass="ru.biosoft.access.file.FileDataElement" 
        outputClass="ru.biosoft.table.FileTableDataCollection" transformerClass="ru.biosoft.table.access.TableDataFileTransformer"/> 
      <transformer name="TSV" inputClass="ru.biosoft.access.file.FileDataElement" 
        outputClass="ru.biosoft.table.FileTableDataCollection" transformerClass="ru.biosoft.table.access.TableDataFileTransformer2"/> 
  </extension> 
  
  <extension id="table document factory" point="ru.biosoft.workbench.documentFactory"> 
      <documentFactory 
        class="ru.biosoft.table.document.TableFactory"
        key="ru.biosoft.table.TableDataCollection"
      /> 
  </extension>
  
  <extension point="ru.biosoft.table.dataType">
      <dataType class="ru.biosoft.table.datatype.ChartDataType"/> 
      <dataType class="ru.biosoft.table.datatype.ViewDataType"/> 
      <dataType class="ru.biosoft.table.datatype.SetDataType"/> 
      <dataType class="ru.biosoft.table.datatype.PathDataType"/> 
      <dataType class="ru.biosoft.table.datatype.PathSetDataType"/> 
      <dataType class="ru.biosoft.table.datatype.DescribedStringDataType"/> 
  </extension>

  <extension point="ru.biosoft.access.elementAction"> 
     <action name="New table" class="ru.biosoft.table.access.NewTableDocumentAction" priority="10">
        <property name="Name" value="New table"/>
        <property name="ShortDescription" value="Create a table in selected folder"/>
        <property name="LongDescription" value="Create a table in selected folder and open it"/>
        <property name="MnemonicKey" value="VK_T"/>
        <property name="SmallIcon" value="table.gif"/>
        <property name="ActionCommandKey" value="cmd-new-table"/>
     </action>
  </extension>

  <extension id="columns" point="biouml.workbench.diagramViewPart"> 
      <diagramViewPart editor="true" 
        class="ru.biosoft.table.document.editors.ColumnsViewPart"
        id="table.columns" 
        Name="Columns"
        ShortDescription="Columns"
        Priority = "1.1"
      /> 
  </extension>
  
  <extension id="samples" point="biouml.workbench.diagramViewPart"> 
      <diagramViewPart editor="true" 
        class="ru.biosoft.table.document.editors.SamplesViewPart" 
        id="table.samples" 
        Name="Samples"
        ShortDescription="Samples"
        Priority = "1.2"
      /> 
  </extension>
  
  <extension id="sample groups" point="biouml.workbench.diagramViewPart"> 
      <diagramViewPart editor="true" 
        class="ru.biosoft.table.document.editors.GroupsViewPart" 
        id="table.groups" 
        Name="Groups"
        ShortDescription="Groups"
        Priority = "1.3"
      /> 
  </extension>

  <extension id="details" point="biouml.workbench.diagramViewPart"> 
      <diagramViewPart editor="true" 
        class="ru.biosoft.table.document.editors.DetailsViewPart"
        id="table.details" 
        Name="Details"
        ShortDescription="Details view"
        Priority = "1.4"
      /> 
  </extension>
    
  <extension id="Import SQL table from text formats" point="ru.biosoft.access.import"> 
     <export 
        format="Text output file generated by R (.Routput)"
        suffix="Routput"
        importer="ru.biosoft.table.TableImporter"
        description="ru/biosoft/table/resources/RTextOutputFileFormat.html"
     />
  </extension>
  
  <extension id="Import table from CSV file" point="ru.biosoft.access.import"> 
     <export 
        format="Tabular (*.txt, *.xls, *.tab, etc.)"
        importer="ru.biosoft.table.TableCSVImporter"
        description="ru/biosoft/table/resources/TabSeparatedFileFormat.html"
     />
  </extension>
  
  <extension id="Export table to tab-separated format" point="ru.biosoft.access.export"> 
     <export 
        format="Tab-separated text (*.txt)"
        suffix="txt"
        contentType="text/plain"
        exporter="ru.biosoft.table.export.TableElementExporter"
        description=""
        priority="15"
     />
  </extension>
  
  <extension id="Export table to CSV format" point="ru.biosoft.access.export"> 
     <export 
        format="Comma-separated values (*.csv)"
        suffix="csv"
        contentType="text/plain"
        exporter="ru.biosoft.table.export.TableElementExporter"
        description=""
     />
  </extension>
  
  <extension id="Export table to HTML format" point="ru.biosoft.access.export"> 
     <export 
        format="HTML document (*.html)"
        suffix="html"
        contentType="text/html"
        exporter="ru.biosoft.table.export.TableElementExporter"
        description=""
     />
  </extension>
  
    <extension id="AddRowTableAction" point="ru.biosoft.access.dynamicAction"> 
     <dynamicAction name="AddRowTableAction" class="ru.biosoft.table.access.AddRowTableAction">
        <property name="Name" value="Add row"/>
        <property name="ShortDescription" value="Add row to current table."/>
        <property name="LongDescription" value="Add row to current table."/>
        <property name="SmallIcon" value="resources/addrow.gif"/>
        <property name="ActionCommandKey" value="cmd-addrow-table"/>
        <parameter name="numSelected" value="3"/>
     </dynamicAction>
  </extension>
  
  <extension id="SubsetTableAction" point="ru.biosoft.access.dynamicAction"> 
     <dynamicAction name="SubsetTableAction" class="ru.biosoft.table.access.SubsetTableAction">
        <property name="Name" value="Save selected rows as..."/>
        <property name="ShortDescription" value="Save selected rows to new table"/>
        <property name="LongDescription" value="Save selected rows to new table"/>
        <property name="SmallIcon" value="resources/subset.gif"/>
        <property name="ActionCommandKey" value="cmd-subset-table"/>
        <parameter name="numSelected" value="2"/>
        <parameter name="acceptReadOnly" value="true"/>
     </dynamicAction>
  </extension>
  
  <extension id="ReplaceContentAction" point="ru.biosoft.access.dynamicAction"> 
     <dynamicAction name="ReplaceContentAction" class="ru.biosoft.table.access.ReplaceContentAction">
        <property name="Name" value="Replace..."/>
        <property name="ShortDescription" value="Replace table data"/>
        <property name="LongDescription" value="Replace table data"/>
        <property name="SmallIcon" value="resources/replace.gif"/>
        <property name="ActionCommandKey" value="cmd-replace-table"/>
        <parameter name="numSelected" value="3"/>
     </dynamicAction>
  </extension>
  
  <extension id="JS-table" point="ru.biosoft.plugins.javascript.hostObject"> 
     <hostObject name="table" class="ru.biosoft.table.JavaScriptTable" >
         <doc description="Table manipulation methods">
             <function name="create" description="Creates new table, puts it into repository and returns">
                 <argument name="path" type="String" obligatory="true" description="path and name of the new table. Make sure that target collection accept TableDataCollection type"/>            
             </function>
         </doc>
	 </hostObject>
  </extension>

  <extension id="table.commonClasses" point="ru.biosoft.access.commonClass">
  	<class class="ru.biosoft.table.SqlTableDataCollection"/>
  	<class class="ru.biosoft.table.FileTableDataCollection"/>
  </extension>

  <extension point="ru.biosoft.access.beans">
  	<provider class="ru.biosoft.table.TableCellBeanProvider" prefix="properties/tableCell"/>
  </extension>
</plugin>
