*.log
*.log.*
log.*
/log
.global.properties
.local.properties
junit*
reports
site_tmp
temp
preferences.xml
Test.xml
genenet_test.bmd
transpath_test.bmd
${OUTDIR}
.web.properties
biouml.war
bioumlweb.war
/findbugs.xml
/jacoco.exec
/jacoco.xml
