<html>
#setMathJax()
	<body>
	    #set($ode = $de.getRole().getODE().toList()) 	
		#set($algebraic = $de.getRole().getAlgebraic().toList()) 	
		#set($assignments = $de.getRole().getAssignments().toList()) 	
		#set($initial = $de.getRole().getInitialAssignments().toList()) 	
		#if(!$initial.isEmpty())
		    <font size = 6>Initial Assignments</font><br><br>
			<table>
		    #updateEquationTable( "<b>&#8470;</b>", "<b>Formula</b>", "<b>Comment</b>")
		    #set( $isTitleSet = true)
		    #processEquations($de, $initial)
		    </table>
			<br><br>
		#end
		#if(!$ode.isEmpty())
		    <font size = 6>Differential Equations</font><br><br>
			<table>
		    #updateEquationTable( "<b>&#8470;</b>", "<b>Formula</b>", "<b>Comment</b>")
		    #set( $isTitleSet = true)
		    #processEquations($de, $ode)
		    </table>
			<br><br>
		#end
		#if(!$algebraic.isEmpty())
			<font size = 6>Algebraic Equations</font><br><br>
		    <table>
		    #updateEquationTable( "<b>&#8470;</b>", "<b>Formula</b>", "<b>Comment</b>")
		    #processEquations($de, $algebraic)
		    </table>
		    <br><br>
		#end
		#if(!$assignments.isEmpty())
		    <font size = 6>Assignments</font><br><br>
		    <table>
		    #updateEquationTable( "<b>&#8470;</b>", "<b>Formula</b>", "<b>Comment</b>")
		    #processEquations($de, $assignments)
		    </table>
		    <br><br>
		#end
#setMathJaxUpdate() 		
	</body>
</html>

